@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e1ecf2;
}

.wrapper {
    margin: 10px;
}

.wrapper .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 0px;
}

.wrapper .top_navbar .hamburger {
    width: 70px;
    height: 100%;
    background: #0501d7;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #0501d7;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: yellow;
    color: whitesmoke;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
    color: blue;
}

.wrapper .sidebar {
    position: fixed;
    top: 60px;
    left: 10px;
    background: #0501d7;
    width: 200px;
    height: calc(730px - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: yellow;
    white-space: nowrap;
    text-decoration: none;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: blue;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
    padding: 2px;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: yellow;
    color: blue;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .main_container {
    width: calc(100% - 200px);
    margin-top: 60px;
    margin-left: 200px;
    padding: 10px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

.wrapper.collapse .main_container {
    width: calc(100% - 70px);
    margin-left: 70px;
}



.wrapper.collapse .card1 {
    width: 400px;
    height: 250px;
    background-color: aqua;
    margin: 5px;
}

.btn {
    background-color: #0633b9;
    color: yellow;
    border: none;
    width: 80px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}

.wrapper.collapse .btn {
    background-color: #0633b9;
    color: yellow;
    border: none;
    width: 80px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}

.btn:hover {
    background-color: yellow;
    color: #0633b9;
}
.wrapper.collapse .btn:hover {
    background-color: yellow;
    color: #0633b9;
}
.logoHead{
    margin-left: -20px;
    font-size: 40px;
}